<div class="navbar-collapse collapse" id="menu">

  <div class="navbar-nav ms-auto align-items-md-center gap-lg-5">

    <a href="javascript:;" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" class="p-5 text-dark fs-4 text-decoration-none position-absolute top-0 end-0 d-lg-none collapsed" aria-expanded="false">&times;</a>
    <a href="https://www.linkedin.com/in/clarisse-diniz-silva/" target="_blank" class="nav-link d-flex justify-content-center align-items-center gap-3">
      <i class="fa-brands fa-linkedin fs-5"></i>
      clarisse-diniz-silva
    </a>
    <a href="https://github.com/ClarisseDinizS" target="_blank" class="nav-link d-flex justify-content-center align-items-center gap-3">
      <i class="fa-brands fa-github fs-5"></i>
      ClarisseDinizS
    </a>
  </div>

</div>
