<main id="home">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-3">

      <article class="col">
        <app-card
          gameCover="assets/img/overcooked.jpg"
          gameLabel="Online"
          gameType="Jogo Completo"
          consoleType="| PS4"
          ></app-card>
        </article>

        <article class="col">
          <app-card
            gameCover="assets/img/fallguys.jpg"
            gameLabel="Exclusivo PS"
            gameType="Jogo Online"
            consoleType="| PS3"
            ></app-card>
        </article>

        <article class="col">
          <app-card
            gameCover="assets/img/dbd.jpg"
            gameLabel="Promoção de Halloween"
            gameType="Jogo Completo"
            consoleType="| PS5 | PS4 |"
            ></app-card>
        </article>

    </div>
  </div>
</main>
